
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-image: url('../../public/image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.login-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login-card {
  background: rgba(40, 44, 52, 0.85); 
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  padding: 45px 35px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.35);
  animation: fadeIn 0.8s ease-in-out;
  backdrop-filter: blur(12px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
}


.login-card h2 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}

.subtitle {
  color: #d6d6d6;
  font-size: 15px;
  margin-bottom: 25px;
}


.input-group {
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 12px 14px;
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  font-size: 15px;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: 0.3s;
}

.input-group input::placeholder {
  color: #bdbdbd;
}

.input-group input:focus {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 8px #6c63ff;
  border-color: #6c63ff;
}


.btn-primary {
  width: 100%;
  background: linear-gradient(135deg, #6c63ff, #7b78ff);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.btn-primary:hover {
  background: linear-gradient(135deg, #5a51e0, #6c63ff);
  transform: translateY(-2px);
}


.toggle-text {
  margin-top: 15px;
  font-size: 14px;
  color: #f5f5f5;
}

.toggle-btn {
  background: none;
  border: none;
  color: #ffcc70;
  font-weight: 600;
  cursor: pointer;
  transition: color 0.3s;
}

.toggle-btn:hover {
  color: #ffffff;
}


.error-text {
  color: #ff7676;
  margin-top: 10px;
  font-size: 13px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  padding: 8px;
  border: 1px solid rgba(255, 0, 0, 0.3);
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

